docs/
backend/db.sqlite3
backend/env/
backend/cakery/__pycache__/
backend/shop/__pycache__/
backend/shop/migrations/
backend/.env
backend/static/images/
backend/media/
backend/cakery/settings/__pycache__/
backend/staticfiles_build/