<style>
    .navbar {
        width: 100vw;
        background-color: #2d1800;
        display: block;
        text-align: right;
        position: relative;
        padding: 1em;
    }

    a {
        text-decoration: none;
    }

    .nav-item {
        color: #bc6100;
        border: 1px solid #bc6100;
        border-radius: .15em;
        display: inline-block;
        position: relative;
        padding: .5em 1em;
    }

    .nav-item:hover {
        border-color: #ededed;
        color: #ededed;
    }

    span.number {
        background-color: #ededed;
        border-radius: 1em;
        padding: .2em;
    }

</style>
<div class="navbar">
    <a href="" class="nav-item">Home</a>
    <a href="{% url 'products' %}" class="nav-item">Products</a>
    <a href="{% url 'cart' %}" class="nav-item">Cart <span class="number">0</span></a>
</div>