{% extends './base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/cartStyle.css' %}">
{% endblock extrahead%}

{% block content %}
<!-- Padding: 1rem -->
<div class="cart">
    <div class="cart-wrapper"> 
        <div class="list-wrapper">
            <h6>Shopping Cart</h6>
            {% for item in cart %}
            <div class="list-details">
                <div class="col product-image"><img src="{{item.item.image.url}}" alt=""></div>
                <div class="col product">
                    <h6 class="product-name">{{item}}</h6>
                    <p class="product-id">#{{item.item.id}}</p>
                </div>
                <p class="col price">Rs. {{item.item.price}}</p>
                <div class="col item-counter">
                    <button class="btn-decrease" onclick="decreaseCount('{{item.id}}', '{{item}}')">-</button>
                    <input type="number" name="" id="item-{{item.id}}" value={{item.quantity}} class="item-count">
                    <button class="btn-increase" onclick="increaseCount('{{item.id}}')">+</button>
                </div>
                <p class="col total-price">Rs. {{item.get_total_price}}</p>
                <div class="col"><button class="delete">x</button></div>
            </div>    
            {% endfor %}
            <button class="back"><span>back-arrow</span> Continue Shopping</button>
            <p class="total">Subtotal: <span>Rs.554</span></p>
        </div>
        <div class="card-details">
            <h6>Card Details</h6>
            <div class="card-graphics"></div>
        </div>
    </div>
</div>
{% endblock content%}
{% block scripts %}
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock scripts %}