{% extends './base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/categoryStyle.css' %}">
{% endblock extrahead %}

{% block content %}
<h1 class="heading">Choose Your Categories</h1>
<div class="products-list">
    {% for category in categories %}
    <a href="{% url 'items' category.id %}">
        <div class="cards">
            <div class="image"><img src='{{category.image.url}}' alt=""></div>
            <div class="title">{{category.name}}</div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock content %}