{% extends './base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/itemStyle.css' %}">
<title>{{category.name}}|Cakery</title>
{% endblock extrahead %}

{% block content%}
<div class="items-list">
    {% for item in items %}
    <a href="#">
        <div class="cards">
            <div class="image"><img src="{{item.image.url}}"></div>
            <div class="title">{{item.name}}</div>
            <div class="price">{{item.price}} Per kg</div>
            <a href="" class="cart-btn">Add to Cart</a>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock content %}