h1 {
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
}

.products-list {
    width: 90%;
    margin: auto;
}

a {
    text-decoration: none;
}
.cards {
    background-color: #bc6100;
    display: inline-block;
    width: 30%;  
    border-radius: 8px;
    margin: 20px;
    color: #ededed;
    box-shadow: 2px 3px 6px #2d1800;
}

.image img {
    width: 100%;
    height: 30%;
    border-radius: 8px 8px 0px 0px;
}

.title {
    text-align: center;
    padding: 5px;
}

.cards:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px black;
}