body{
    background-color: gray;
    width: 100%;
}

.cards {
    background-color: white;
    display: inline-block;
    width: 25%;  
    border-radius: 8px;
    margin: 20px;
}

.image img {
    width: 100%;
    height: 30%;
    border-radius: 8px 8px 0px 0px;
}

.title {
    text-align: center;
    padding: 5px;
}

.cards:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px black;
}