.login-form {
    width: 60vw;
    background-color: #bc6100;
    height: 70vh;
    color: #ededed;
    margin: 5% auto;
    align-items: center;
    justify-content: center;
}

form {
    margin: 10% auto;
}



input[name='username'], input[name='password'] {
    height: 2rem;
    margin-left: 1em;
}